<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"className":"search-page margin-large","style":{"spacing":{"margin":{"top":"120px","bottom":"120px"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group search-page margin-large" style="margin-top:120px;margin-bottom:120px">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonUseIcon":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"radius":"12px"}},"backgroundColor":"primary-100","textColor":"base","fontSize":"body-xl"} /-->

		<!-- wp:query-title {"type":"search","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-100"}}},"spacing":{"margin":{"top":"24px"}}},"textColor":"primary-100","fontSize":"small"} /-->

		<!-- wp:pattern {"slug":"medigrowth/search-result"} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->