<!-- wp:template-part {"slug":"header","theme":"swasthika","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"single post"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|50"}}},"backgroundColor":"custom-primary-gallery","layout":{"type":"default"}} -->
<main class="wp-block-group has-custom-primary-gallery-background-color has-background" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->

<!-- wp:post-featured-image {"width":"100%","height":"430px","style":{"border":{"radius":"12px"},"spacing":{"margin":{"top":"20px","bottom":"20px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-date {"fontSize":"body-xxl"} /-->

<!-- wp:post-content {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-800"},":hover":{"color":{"text":"var:preset|color|contrast"}}}},"spacing":{"blockGap":"var:preset|spacing|20"}},"textColor":"primary-100","fontSize":"body-l","layout":{"type":"constrained"}} /-->

<!-- wp:spacer {"height":"1rem","width":"0px","style":{"layout":{"flexSize":"1rem","selfStretch":"fixed"}}} -->
<div style="height:1rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">H2 General WYSIWYG Lorem ipsum dolor</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"body-xl"} -->
<p class="has-body-xl-font-size">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<!-- /wp:paragraph -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote -->

<!-- wp:heading {"level":3,"fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size">H3 Lorem ipsum dolor sit amet consetetur</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"body-xl"} -->
<p class="has-body-xl-font-size">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":6,"fontSize":"body-xxl"} -->
<h6 class="wp-block-heading has-body-xxl-font-size">H6 Video Title lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
<!-- /wp:heading -->

<!-- wp:video {"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"margin":{"top":"10px","bottom":"10px"}}}} -->
<figure style="margin-top:10px;margin-bottom:10px" class="wp-block-video"><video controls src="https://siteproofs.com/projects/bluetext/kentro/wp-content/uploads/2025/02/dummy-video.mp4"></video></figure>
<!-- /wp:video -->

<!-- wp:paragraph {"fontSize":"body-xl"} -->
<p class="has-body-xl-font-size">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4,"fontSize":"x-small"} -->
<h4 class="wp-block-heading has-x-small-font-size">H4 lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
<!-- /wp:heading -->

<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item {"fontSize":"body-xl"} -->
<li class="has-body-xl-font-size">Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipit non ut leo.</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"body-xl"} -->
<li class="has-body-xl-font-size">Donec ullamcorper nisi mi, ac mattis leo convallis ut. Lorem ipsum dolor sit amet, consectetur.</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"body-xl"} -->
<li class="has-body-xl-font-size">Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipiucibus suscipit non ut leo. Donec ullamcorper nisi mi, ac mattis leo convallis ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"fontSize":"body-xl"} -->
<li class="has-body-xl-font-size">Mauris quis justo at tellus faucibus suscipit non ut leo. Donec ullamcorper nisi mi, ac mattis leo convallis ut Quisque vel ipsum massa. Mauris quis justo at tellus faucibus.<!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipit non ut leo.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Donec ullamcorper nisi mi, ac mattis leo convallis ut. Lorem ipsum dolor sit amet.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipiucibus suscipit non.</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:heading {"level":3,"fontSize":"small"} -->
<h3 class="wp-block-heading has-small-font-size">Table</h3>
<!-- /wp:heading -->

<!-- wp:table {"className":"is-style-regular","style":{"spacing":{"margin":{"top":"10px","bottom":"10px"}}},"fontSize":"body-l"} -->
<figure class="wp-block-table is-style-regular has-body-l-font-size" style="margin-top:10px;margin-bottom:10px"><table class="has-fixed-layout"><tbody><tr><td><strong>Table Header 1</strong></td><td><strong>Table Header 2</strong></td><td><strong>Table Header 3</strong></td></tr><tr><td>Table Cell Date Lorem Ipsum</td><td>1,000,000 Data Point Lorem</td><td>1/5 Ipsum Dolor</td></tr><tr><td>Table Cell Date Lorem Ipsum</td><td>1,000,000 Data Point Lorem</td><td>1/5 Ipsum Dolor</td></tr><tr><td>Table Cell Date Lorem Ipsum</td><td>1,000,000 Data Point Lorem</td><td>1/5 Ipsum Dolor</td></tr></tbody></table></figure>
<!-- /wp:table -->

<!-- wp:heading {"level":5,"fontSize":"small"} -->
<h5 class="wp-block-heading has-small-font-size">H5 lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
<!-- /wp:heading -->

<!-- wp:list {"ordered":true} -->
<ol class="wp-block-list"><!-- wp:list-item -->
<li>Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipit non ut leo.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Donec ullamcorper nisi mi, ac mattis leo convallis ut. Lorem ipsum dolor sit amet, consectetur.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipiucibus suscipit non ut leo. Donec ullamcorper nisi mi, ac mattis leo convallis ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Mauris quis justo at tellus faucibus suscipit non ut leo. Donec ullamcorper nisi mi, ac mattis leo convallis ut quisque vel ipsum massa. Mauris quis justo at tellus faucibus.<!-- wp:list {"ordered":true} -->
<ol class="wp-block-list"><!-- wp:list-item -->
<li>Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipit non ut leo.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Donec ullamcorper nisi mi, ac mattis leo convallis ut. Lorem ipsum dolor sit amet.</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Quisque vel ipsum massa. Mauris quis justo at tellus faucibus suscipiucibus suscipit non.</li>
<!-- /wp:list-item --></ol>
<!-- /wp:list --></li>
<!-- /wp:list-item --></ol>
<!-- /wp:list --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"30px","bottom":"30px"}}},"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size" style="margin-top:30px;margin-bottom:30px">Comments</h2>
<!-- /wp:heading -->

<!-- wp:comments-title {"level":3,"fontSize":"x-small"} /-->

<!-- wp:comment-template {"fontSize":"small"} -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:comments-pagination-previous {"fontSize":"small"} /-->

<!-- wp:comments-pagination-numbers {"fontSize":"x-small"} /-->

<!-- wp:comments-pagination-next {"fontSize":"small"} /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form {"fontSize":"body-md"} /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"linkLabel":true,"arrow":"arrow"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"swasthika","tagName":"footer","className":"site-footer"} /-->