<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"metadata":{"name":"Blog Detail Hero"},"style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div
    class="wp-block-group"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"isUserOverlayColor":true,"isDark":false,"align":"full","className":"hero-cover padding-large","style":{"spacing":{"padding":{"top":"147px","bottom":"147px","left":"80px","right":"80px"}},"color":[]},"layout":{"type":"constrained","contentSize":"","wideSize":""}} -->
    <div class="wp-block-cover alignfull is-light hero-cover padding-large"
        style="padding-top:147px;padding-right:80px;padding-bottom:147px;padding-left:80px"><span
            aria-hidden="true"
            class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div
            class="wp-block-cover__inner-container"><!-- wp:group {"className":"inner-content","layout":{"type":"constrained"}} -->
            <div
                class="wp-block-group inner-content"><!-- wp:bcn/breadcrumb-trail {"textColor":"base","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} /-->

                <!-- wp:post-title {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} /--></div>
            <!-- /wp:group --></div></div>
    <!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:pattern {"slug":"medigrowth/blog-highlights"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->